/* General */
.color-1 {
  background-color: #ef5523 !important;
}
.color-2 {
  background-color: #00468a !important;
}
.color-3 {
  background-color: #1abc9c !important;
}
.color-4 {
  background-color: #00953d !important;
}
.color-5 {
  background-color: #fe374a !important;
}

.loading {
  cursor: wait;
  z-index: 10000;
  background: url('../img/loader.gif') no-repeat center;
}

.scrollpanel .sp-scrollbar {
  width: 10px;
  background-color: #ccc;
  cursor: pointer;
}
.scrollpanel .sp-scrollbar .sp-thumb {
  background-color: #aaa;
  transition: height 0.2s ease-in-out;
}
.scrollpanel .sp-scrollbar.active .sp-thumb {
  background-color: #999;
}
/* Navigation */
nav.top-bar {
  background-color: #9dbce2;
  font-family: "Lato", "Helvetica", Arial, sans-serif;
  -moz-box-shadow: 0px 0px 0px 1px #bbb;
  -webkit-box-shadow: 0px 0px 0px 1px #bbb;
  box-shadow: 0px 0px 0px 1px #bbb;
  z-index: 100;
}
nav.top-bar ul li {
  background-color: #9dbce2;
}
nav.top-bar ul a {
  background-color: inherit !important;
}
nav.top-bar ul li > a {
  font-family: "Lato", "Helvetica", Arial, sans-serif;
}
nav.top-bar .dashboard {
  background-color: #3498db;
}
nav.top-bar .dashboard:hover {
  background-color: #19608f;
}
nav.top-bar .manager {
  background-color: #fcd22a;
}
nav.top-bar .manager:hover {
  background-color: #F1C204;
}
nav.top-bar .manager a {
  color: #59370b !important;
}
nav.top-bar .manager:hover a {
  color: #59370b !important;
}
nav.top-bar .invoices {
  background-color: #a477c4;
}
nav.top-bar .invoices:hover {
  background-color: #8049a7;
}
.top-bar-section ul li.page > a {
  width: 5.7rem;
  text-align: center;
  font-size: 13px;
}

nav.top-bar .fullname {
  line-height: 2.8125rem;
  font-size: 14px;
  font-weight: bold;
  color: #002056;
}
nav.top-bar .profile a {
  height: 2.8125rem;
}
nav.top-bar .profile a.icon {
  padding-right: 0 !important;
}
nav.top-bar .profile a.icon img {
  display: block;
}
nav.top-bar .profile a > i {
  font-size: 25px;
}
#page-state-button {
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  display: none;
}
#page-state-button a {
  text-align: center;
  font-size: 17px;
  font-weight: lighter;
}

/* Structure */
.wrapper {
  position: absolute;
  font-family: "Lato", "Helvetica", Arial, sans-serif;
  max-width: none !important;
  top: 0;
  padding-top: 2.8125rem;
  margin: 1px 0px 0px 0px;
}
.wrapper, .wrapper > * {
  font-family: "Lato", "Helvetica", Arial, sans-serif;
  height: 100%;
  max-height: 100%;
}

/* Dashboard */
#dashboard .main {
  /*border-right: 1px solid gray;*/
  /*overflow-y: scroll;*/
}
#dashboard .notifications {
  padding-left: 0px;
  padding-right: 0px;
}
#dashboard .notifications .tab-title a {
  font-family: "Lato", "Helvetica", Arial, sans-serif;
}
#dashboard .notifications .tab-title {
  width: 50%;
  text-align: center;
}
#dashboard .notifications .tab-title a {
  outline: 0 none;
  line-height: 16px;
}
#dashboard .notifications .tab-title a {
  font-size: 13px;
}
#dashboard .notifications .tab-title.active a {
  font-size: 16px;
}

#dashboard .notifications .tab-title .tab-pedestal {
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #7d7d7d;
}
#dashboard .notifications .tab-title.active .tab-pedestal {
  height: 8px;
}

#manager-tabs {
  width: 30px;
  padding: 0;
}

/* Manager tabs */
#manager-tabs div {
  width: 30px;
  position: relative;
  cursor: pointer;
  font-family: "Lato", "Helvetica", Arial, sans-serif;
  -moz-box-shadow: 1px 0px 0px 0px #bbb;
  -webkit-box-shadow: 0px 1px 0px 0px #bbb;
  box-shadow: 1px 0px 0px 0px #bbb;

  transition: width 0.4s ease-in;
  -ms-transition: width 0.4s ease-in;
  -moz-transition: width 0.4s ease-in;
  -webkit-transition: width 0.4s ease-in;
}
#manager-tabs div.selected {
  width: 35px;

  transition: width 0.1s ease-out;
  -ms-transition: width 0.1s ease-out;
  -moz-transition: width 0.1s ease-out;
  -webkit-transition: width 0.1s ease-out;
}
#manager-tabs div a {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

#manage-tasks {
  height: 20%;
  background-color: #fcd22a;
}
#manage-tasks a {
  color: #59370b !important;
}

#manage-timesheet {
  height: 30%;
  background-color: #442fae;
}
#manage-timesheet a {
  color: #fff;
}

#manage-chart {
  height: 25%;
  background-color: #7125a9;
}
#manage-chart a {
  color: #fff;
}

#manage-feed {
  height: 25%;
  background-color: #fcf529;
}
#manage-feed a {
  color: #000;
}

#manager-page {
  padding-top: 25px;
  padding-right: 50px;
}

/*Manager projects */
#manager-projects-list-wrapper {
  height: 195px;
  width: 100%;
}
ul#manager-projects-list {
  list-style: none;
  margin: 0;
  height: 100%;
}
.scrollbar { width: 100%; height: 3px; }
.scrollbar .handle {
  width: 100px; /* overriden if dynamicHandle: 1 */
  height: 100%;
  background: #aaa;
}
ul#manager-projects-list > li {
  float: left;
  margin-right: 25px;
  display: inline-block;
}
div.manager-project {
  position: relative;
  padding-left: 10px;
  height: 175px;
  width: 175px;
  border: 2px solid #bbb;
  cursor: pointer;
  margin-top: 5px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none
}
li.active div.manager-project {

}
div.manager-project .left {
  overflow: hidden;
  width: 135px;
  white-space: nowrap;
}
div.manager-project span.name {
  margin-top: 5px;
  color: #4b4b4b;
  display: block;
  font-size: 18px;
}
div.manager-project span.date {
  color: #4b4b4b;
  display: block;
  font-size: 14px;
}
div.manager-project span.tracked {
  position: absolute;
  bottom: 5px;
  color: #4b4b4b;
  display: block;
  font-size: 14px;
}
div.manager-project ul.people {
  margin: 5px 0 0 0;
  list-style: none;
}
div.manager-project ul.people li {
  display: inline-block;
  margin-left: 2px;
  float: left;
}
div.manager-project div.banner {
  width: 10px;
  height: 171px;
  float: right;
}
#bridge {
  position: absolute;
  height: 40px;
  width: 175px;
  border: solid #bbb;
  border-width: 0px 2px;
  opacity: 0.8;
  background-color: #fff;
  display: none;
  z-index: 5;
}
#current-project {
  padding: 15px;
  overflow: hidden;
  margin-top: 20px;
  border: 2px solid #bbb;
  height: calc(100% - 230px);
}

.current-project-listing {
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 1;
}

/* Manager page - Tasks */
#slider {
  display: none;
  position: absolute;
  border-left: 2px solid #bbb;
  padding: 15px;
  right: 0;
  top: 0;
  overflow: hidden;
  height: 100%;
  width: 300px;
  background-color: white;
}
#slider * {
  font-family: "Lato", "Helvetica", Arial, sans-serif;
}
#slider h3 {
  cursor: default;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}


#tasks-container {
  width: inherit;
}
#tasks-container .tasks:not(.master) > * {
  display: none;
}
.task {
  width: 100%;
}

.task .title {
  position: relative;
  width: 100%;
  height: 35px;
  text-align: center;
  font-size: 14px;
  border: 2px solid #bbb;
  line-height: 31px;
  cursor: pointer;
  padding: 0px 10px;
  overflow: hidden;
  white-space: nowrap;

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}
.task .title:hover, .task .title:hover a.edit {
  background-color: #dbeeff;
}
.task .title a.edit {
  background-color: white;
  display: inline-block;
  position: absolute;
  right: 0px;
  font-size: 18px;
  visibility: hidden;
  width: 25px;

}
.task.active .title {
  cursor: default;
  border-color: #3794dd;
  color: #3794dd;
}
.task.active .title a.edit {
  visibility: visible;
}

.task .content {
  display: none;
  font-size: 14px;
  border: 2px solid #bbb;
  border-top-width: 0;
  padding: 10px;
  width: inherit !important;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.task.active .content {
}

.task .content .logged {
  float: left;
}
.task .content .estimated {
  float: right;
}
.task .content .description {
  margin-top: 5px;
}
.task.new span.plus {
  position: absolute;
  left: 5px;
  font-size: 18px;
  font-weight: lighter;
  color: #999;
}

.tasks .callout {
  display: none;
  height: 150px;
  padding: 10px;
  border: 1px solid rgba(10, 10, 10, 0.25);
  cursor: pointer;
}
.tasks .callout:hover {
  background-color: #eee;
}
.tasks.master .callout:nth-child(1):nth-last-child(2),
.tasks.master .callout:nth-child(2):nth-last-child(1) {
  display: block;
}
.tasks .callout > div {
  display: table;
  height: 100%;
  width: 100%;
}
.tasks .callout div.text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.tasks.master .task.new:nth-child(1):nth-last-child(2),
.tasks.master .task.new:nth-child(2):nth-last-child(1) {
  display: none;
}

#task-form .under {
  font-size: 14px;
  color: rgb(77, 77, 77);
}
#task-form textarea[name='description'] {
  height: 200px;
  resize: none;
}
#task-form input[name='duration'] {
}

#task-form .form-buttons {
  display: inline-block;
  float: right;
}
#task-form a.button {
  padding: 7px 20px;
}
#user-dropdown {
  outline: none;
  margin-top: -1px;
}
#user-dropdown-head {
  margin-bottom: 1rem;
}
#user-dropdown:before, #user-dropdown:after {;
  border: inset 0px;
  border-color: transparent transparent transparent transparent;
}
.user-image-div.head {
  width: 200px;
  cursor: pointer;
  border: 1px solid rgb(204, 204, 204);
  font-size: 14px;
  line-height: 14px;
}
.user-image-div.head:hover {
  background-color: rgb(238, 238, 238);
}
.user-image-div {
  padding: 0.5rem 0.5rem 0.5rem 2.3rem;
  color: #555555;
}
.user-image-div {
  height: 2.13rem;
  position: relative;
}
.user-image-div i {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  font-size: 2rem;
  margin-left: 0.06rem;
  margin-top: 0.06rem;
  width: 2rem;
  text-align: center;
}
.user-image-div img {
  position: absolute;
  left: 0;
  top: 0;
  height: 2.0rem;
  width: 2.0rem;
}