/* General */
.color-1 {
  background-color: #ef5523 !important;
  color: whitesmoke;
}
.color-2 {
  background-color: #00468a !important;
  color: whitesmoke;
}
.color-3 {
  background-color: #1abc9c !important;
  color: whitesmoke;
}
.color-4 {
  background-color: #00953d !important;
  color: whitesmoke;
}
.color-5 {
  background-color: #fe374a !important;
  color: whitesmoke;
}

.loading {
  cursor: wait;
  z-index: 10000;
  background: url('../img/loader.gif') no-repeat center;
}

/*Widgets */
.vertical-button-control {
  height: 36px;
  position: absolute;
  border: 2px solid #bbb;
  opacity: 0.7;
  text-align: center;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none

  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

.vertical-button-control:hover {
  opacity: 1;

  -webkit-transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -ms-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}

/* Navigation */
nav.top-bar {
  font-family: "Lato", "Helvetica", Arial, sans-serif;
  -moz-box-shadow: 0px 0px 0px 1px #bbb;
  -webkit-box-shadow: 0px 0px 0px 1px #bbb;
  box-shadow: 0px 0px 0px 1px #bbb;
  z-index: 100;
}


nav.top-bar.dashboard, nav.top-bar.dashboard ul.right li {
  background-color: #9dbce2;
}
nav.top-bar.manager, nav.top-bar.manager ul.right li {
  background-color: #f7e497;
}
nav.top-bar.invoices, nav.top-bar.invoices ul.right li {
  background-color: #c8Aedb;
}



/*nav.top-bar ul li {
  background-color: #9dbce2;
}*/
nav.top-bar ul a {
  background-color: inherit !important;
}
nav.top-bar ul li > a {
  font-family: "Lato", "Helvetica", Arial, sans-serif;
}
nav.top-bar ul li.page:not(.active):not(:hover) {
  background-color: #ccc;
}
nav.top-bar ul li.page:not(.active):not(:hover) a {
  color: black;
}
nav.top-bar .dashboard {
  background-color: #3498db;
}
nav.top-bar .dashboard:hover {
  background-color: #19608f;
}
nav.top-bar .manager {
  background-color: #fcd22a;
}
nav.top-bar .manager:hover {
  background-color: #F1C204;
}
nav.top-bar ul li.manager.page.active:not(.hover) a {
  color: #59370b !important;
}
nav.top-bar ul li.manager.page:hover a {
  color: #59370b !important;
}
nav.top-bar .invoices {
  background-color: #a477c4;
}
nav.top-bar .invoices:hover {
  background-color: #8049a7;
}
.top-bar-section ul li.page > a {
  width: 5.7rem;
  text-align: center;
  font-size: 13px;
}

nav.top-bar .fullname {
  line-height: 2.8125rem;
  font-size: 14px;
  font-weight: bold;
  color: #002056;
}
nav.top-bar .profile a {
  height: 2.8125rem;
}
nav.top-bar .profile a.icon {
  padding-right: 0 !important;
}
nav.top-bar .profile a.icon img {
  display: block;
}
nav.top-bar .profile a > i {
  font-size: 25px;
}
#page-state-button {
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  display: none;
}
#page-state-button a {
  text-align: center;
  font-size: 16px;
  font-weight: lighter;
}
.custom-buttons {
  display: none;
  visibility: hidden;
}
.custom-buttons li {
  text-align: left;
  font-weight: lighter;
  background-color: #3498db !important;
}
.custom-buttons li a {
  color: white !important;
}

/* Structure */
.wrapper {
  position: absolute;
  font-family: "Lato", "Helvetica", Arial, sans-serif;
  max-width: none !important;
  top: 0;
  padding-top: 2.8125rem;
  margin: 1px 0px 0px 0px;
}
.wrapper, .wrapper > * {
  font-family: "Lato", "Helvetica", Arial, sans-serif;
  height: 100%;
  max-height: 100%;
}

/* Dashboard */
#dashboard .projects {
  overflow-y: scroll;
}
.dashboard-project {
  padding-bottom: 10px !important;
  border-bottom: 2px solid #bbb;
}
.dashboard-project .header {
  padding-top: 15px;
}
.dashboard-project .header .banner {
  height: 85px;
  width: 7px;
}
.dashboard-project .header .info {
  width: calc(100% - 7px);
  padding-left: 5px;
}
.dashboard-project .tasks {
  padding-top: 15px;
}
.dashboard-project .header .info .name {
  font-weight: lighter;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
}
.dashboard-project .header span {
  display: block;
  font-size: 13px;
}
.dashboard-project .tasks-list-wrapper {
  list-style: none;
  width: 100%;
  margin: 0 0 0 15px;
}
.dashboard-project ul.tasks-list {
  margin: 0;
}
.dashboard-project ul.tasks-list li {
  float: left;
  margin-right: 10px;
  display: inline-block;
}
.dashboard-project .tasks-list .task {
  position: relative;
  height: 65px;
  width: 65px;
  cursor: pointer;
  font-size: 9px;
  border: 2px solid #bbb;
  overflow: visible;
  text-align: center;
  line-height: 11px;
  padding: 1px 1px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none
}

.dashboard-project .tasks-list .task.active {
  border-color: #ffbf00;
}
.dashboard-project .tasks-list .task .name {
  max-height: 40%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dashboard-project .tasks-list .task .duration {

}
.dashboard-project .tasks-list .task span {
  position: relative;
  display: block;
  z-index: 5;
}
.dashboard-project .tasks-list .task .completion {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3498db;
}
.dashboard-project .tasks-list .task .completion > span {
  position: absolute;
  left: 40%;
  bottom: 15%;
  color: white;
}
.dashboard-project .overview .task {

}
.dashboard-project .overview .task:before {
  position: absolute;
  width: 15%;
  content: '';
  top: 0;
  left: 0;
  border-top: 1px solid #bbb;
}
.dashboard-project .overview table {
  border: 0;
}
.dashboard-project .overview tr {
  background-color: white;
}
.dashboard-project .overview td {
  padding-left: 0;
}
.dashboard-project img {
  height: 24px;
  width: 24px;
  margin-right: 5px;
}

#dashboard .notifications {
  padding-left: 0px;
  padding-right: 0px;
}
#dashboard .notifications .tab-title a {
  font-family: "Lato", "Helvetica", Arial, sans-serif;
}
#dashboard .notifications .tab-title {
  width: 40%;
  text-align: center;
}
#dashboard .notifications .tab-title a {
  outline: 0 none;
  line-height: 1rem;
}
#dashboard .notifications .tab-title a {
  font-size: 13px;
}
#dashboard .notifications .tab-title.active a {
  font-size: 16px;
}
#dashboard .notifications .tab-title .tab-pedestal {
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #7d7d7d;
}
#dashboard .notifications .tab-title.active .tab-pedestal {
  height: 8px;
}
#dashboard .notifications .controls {
  width: 20%;
  text-align: center;
  font-size: 11px;
  cursor: pointer;
}
#dashboard .notifications .controls a {
  position: relative;
  height: 48px;
  padding: 16px 4px;
}
#dashboard .notifications .controls a i {
  color: gray;
}
#dashboard .notifications .controls a span {
  position: relative;
}
#dashboard .notifications .controls a.filtered span {
  top: -7px;
}
#dashboard .notifications .controls .project-bar {
  position: relative;
  height: 17px;
  top: 3px;
  font-size: 9px;
  line-height: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#dashboard .notifications .controls .project-bar .bar {
  height: 3px;
  width: 100%;
}

.project-label {
  font-size: 11px;
  padding: 4px 7px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 2px;
}

.project-picker {
  display: block;
  width: calc(100% - 16px);
  padding-top: 5px;
  position: absolute;
  background-color: white;
  text-align: center;
  z-index: 5;
  padding-bottom: 5px;
}

#dashboard .notifications .tabs-content {
  height: calc(100% - 3rem);
  margin-bottom: 0;
}
#dashboard .tabs-content .tab {
  padding-top: 5px;
  height: 100%;
}
#dashboard .notifications .vertical-feed-wrapper {
   width: calc(100% - 15px);
   float: left;
}
#dashboard .notifications .comment span.name {
  padding-top: 3px;
}
#dashboard .notifications .scrollbar {
  height: calc(100% - 5px);
  margin-left: 6px;
  float: left;
}
#dashboard .notifications .scrollbar .handle .mousearea {
  left: -7px;
  width: 16px;
}
.notifications .tabs-content .project-label {
  font-size: 9px;
  padding: 2px 4px;
  margin-left: 5px;
  display: inline-block;
}

#dashboard .feed {
  padding-left: 0;
}
#dashboard .feed .project-label {
  margin-left: 0;
}
#dashboard .feed .content {
  margin-left: 0;
}
#dashboard .feed p {
  margin-bottom: 10px;
}
#dashboard .feed .icon {
  width: 20px;
}
#dashboard .feed .icon img {
  height: 32px;
  width: 32px;
}
#dashboard .feed i {
  font-size: 32px;
  line-height: 32px;
}


/* Manager tabs */
#manager-tabs {
  width: 30px;
  padding: 0;
}

#manager-tabs div {
  width: 30px;
  position: relative;
  cursor: pointer;
  font-family: "Lato", "Helvetica", Arial, sans-serif;
  -moz-box-shadow: 1px 0px 0px 0px #bbb;
  -webkit-box-shadow: 0px 1px 0px 0px #bbb;
  box-shadow: 1px 0px 0px 0px #bbb;

  transition: width 0.4s ease-in;
  -ms-transition: width 0.4s ease-in;
  -moz-transition: width 0.4s ease-in;
  -webkit-transition: width 0.4s ease-in;
}
#manager-tabs div.selected {
  width: 35px;

  transition: width 0.1s ease-out;
  -ms-transition: width 0.1s ease-out;
  -moz-transition: width 0.1s ease-out;
  -webkit-transition: width 0.1s ease-out;
}
#manager-tabs div a {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

#manage-tasks {
  height: 20%;
  background-color: #fcd22a;
}
#manage-tasks a {
  color: #59370b !important;
}

#manage-timesheet {
  height: 30%;
  background-color: #442fae;
}
#manage-timesheet a {
  color: #fff;
}

#manage-chart {
  height: 25%;
  background-color: #7125a9;
}
#manage-chart a {
  color: #fff;
}

#manage-feed {
  height: 25%;
  background-color: #fcf529;
}
#manage-feed a {
  color: #000;
}

#manager-page {
  padding-top: 25px;
  padding-right: 50px;
}
#manager-page.collapse {
  padding-top: 10px;
  padding-right: 10px;
}

#new-project {
  width: 175px;
  top: 118px;
  left: -10px;
  padding-top: 4px;
  padding-right: 4px;
}
#manager-projects-list-wrapper {
  height: 195px;
  width: 100%;
}
ul#manager-projects-list {
  list-style: none;
  margin: 0;
  height: 100%;
}
#manager-projects-list-wrapper ~ .scrollbar {
  width: 100%;
  height: 3px;
}
#manager-projects-list-wrapper ~ .scrollbar .handle {
  width: 100px; /* overriden if dynamicHandle: 1 */
  height: 100%;
  background: #aaa;
}
ul#manager-projects-list > li {
  float: left;
  margin-right: 25px;
  display: inline-block;
}
div.manager-project {
  position: relative;
  padding-left: 10px;
  height: 175px;
  width: 175px;
  border: 2px solid #bbb;
  cursor: pointer;
  margin-top: 5px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none
}
li.active div.manager-project {

}
div.manager-project .left {
  overflow: hidden;
  width: 135px;
  white-space: nowrap;
}
div.manager-project span.name {
  margin-top: 5px;
  color: #4b4b4b;
  display: block;
  font-size: 18px;
}
div.manager-project span.date {
  color: #4b4b4b;
  display: block;
  font-size: 14px;
}
div.manager-project span.tracked {
  position: absolute;
  bottom: 5px;
  color: #4b4b4b;
  display: block;
  font-size: 14px;
}
div.manager-project ul.people {
  margin: 5px 0 0 0;
  list-style: none;
}
div.manager-project ul.people li {
  display: inline-block;
  margin-left: 2px;
  float: left;
}
div.manager-project div.banner {
  width: 10px;
  height: 171px;
  float: right;
}
#bridge {
  position: absolute;
  height: 40px;
  width: 175px;
  border: solid #bbb;
  border-width: 0px 2px;
  opacity: 0.8;
  background-color: #fff;
  display: none;
  z-index: 5;
}
#current-project {
  padding: 15px;
  overflow: hidden;
  margin-top: 20px;
  border: 2px solid #bbb;
  height: calc(100% - 230px);
}

.current-project-listing {
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 1;
}

/* Manager page */
#slider {
  display: none;
  position: absolute;
  border-left: 2px solid #bbb;
  padding: 12px;
  top: 45px;
  right: 0;
  overflow: hidden;
  height: calc(100% - 45px);
  width: 335px;
  background-color: white;
}
#slider * {
  font-family: "Lato", "Helvetica", Arial, sans-serif;
}
#slider h3 {
  cursor: default;
  user-select: none;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

#tasks-container {
  width: inherit;
}
#tasks-container .tasks:not(.master) > * {
  display: none;
}
.tasks .task {
  width: 100%;
}

.task .title {
  position: relative;
  width: 100%;
  height: 35px;
  text-align: center;
  font-size: 14px;
  border: 2px solid #bbb;
  line-height: 31px;
  cursor: pointer;
  padding: 0px 10px;
  overflow: hidden;
  white-space: nowrap;

  user-select: none;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}
.task .title:hover, .task .title:hover a.edit, .task .title:hover a.comments {
  background-color: #dbeeff;
}
.task .title a.edit {
  background-color: white;
  display: inline-block;
  position: absolute;
  right: 0px;
  font-size: 18px;
  visibility: hidden;
  width: 25px;

}
.task .title a.comments {
  background-color: white;
  display: inline-block;
  position: absolute;
  left: 0;
  font-size: 18px;
  visibility: hidden;
  width: 25px;

}
.task.active .title {
  cursor: default;
  border-color: #3794dd;
  color: #3794dd;
}
.task.active .title a.edit, .task.active .title a.comments {
  visibility: visible;
}

.task .content {
  display: none;
  font-size: 14px;
  border: 2px solid #bbb;
  border-top-width: 0;
  padding: 10px;
  width: inherit !important;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.task .content a.delete {
  display: block;
  color: #888;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: -5px;
  float: right;
}
.task .content a.delete:hover {
  color: #008CBA; /* Default foundation for a's */
}

.task .content a.invoice {
  display: block;
  color: #888;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: -5px;
  float: left;
}
.task .content a.invoice:hover {
  color: #008CBA;
}

.task .content .logged {
  float: left;
}
.task .content .estimated {
  float: right;
}
.task .content .description {
  margin-top: 5px;
  margin-bottom: 5px;
}
.task.new span.plus {
  position: absolute;
  left: 5px;
  font-size: 18px;
  font-weight: lighter;
  color: #999;
}

.tasks .callout {
  display: none;
  height: 150px;
  padding: 10px;
  border: 1px solid rgba(10, 10, 10, 0.25);
  cursor: pointer;
}
.tasks .callout:hover {
  background-color: #eee;
}
.tasks.master .callout:nth-child(1):nth-last-child(2),
.tasks.master .callout:nth-child(2):nth-last-child(1) {
  display: block;
}
.tasks .callout > div {
  display: table;
  height: 100%;
  width: 100%;
}
.tasks .callout div.text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.tasks.master .task.new:nth-child(1):nth-last-child(2),
.tasks.master .task.new:nth-child(2):nth-last-child(1) {
  display: none;
}


/* Slider - Project form */
#color-dropdown {
  outline: none;
  margin-top: -1px;
}
#color-dropdown li {
  float: left;
  margin-right: 3px;
  margin-bottom: 3px;
}
#color-dropdown li:nth-child(6n-1) {
  display: block;
}
#color-dropdown-head {
  margin-bottom: 1rem;
}
#color-dropdown {
  padding-top: 1px;
}
#color-dropdown:before, #color-dropdown:after {;
  border: inset 0px;
  border-color: transparent transparent transparent transparent;
}
.project-color {
  width: 200px;
  cursor: pointer;
  border: 1px solid rgb(204, 204, 204);
  font-size: 14px;
  line-height: 14px;
  color: #555555;
  height: 32px;
  position: relative;
}

.user-image-div.small {
  padding: 0.1rem 0rem 0.1rem 1.6rem;
  font-size: 13px;
  height: 1.6rem;
}
.user-image-div.small img {
  height: 1.4rem;
  width: 1.4rem;
}
.user-image-div.small .delete {
  visibility: hidden;
  float: right;
  font-size: 10px;
}
.user-image-div.small .delete:hover {
  cursor: pointer;
}
.project-users .user-image-div:hover .delete {
  visibility: visible;
}
#project-form .form-buttons {
  display: inline-block;
  float: right;
}

/* Slider - Task form */
#task-form div.columns {
  padding: 0;
}
#task-form .under {
  font-size: 14px;
  color: rgb(77, 77, 77);
}
#task-form textarea {
  height: 100px;
}
#task-form input[name='duration'] {
}

#task-form .form-buttons {
  display: inline-block;
  float: right;
}
#task-form a.button {
  padding: 7px 20px;
}
#user-dropdown {
  outline: none;
  margin-top: -1px;
}
#user-dropdown-head {
  margin-bottom: 1rem;
}
#user-dropdown:before, #user-dropdown:after {;
  border: inset 0px;
  border-color: transparent transparent transparent transparent;
}
.user-image-div.head {
  width: 200px;
  cursor: pointer;
  border: 1px solid rgb(204, 204, 204);
  font-size: 14px;
  line-height: 14px;

}
.user-image-div.head:hover {
  background-color: rgb(238, 238, 238);
}
.user-image-div {
  padding: 0.5rem 0.5rem 0.5rem 2.3rem;
  color: #555555;
  height: 2.13rem;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}
.user-image-div i {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  font-size: 2rem;
  margin-left: 0.06rem;
  margin-top: 0.06rem;
  width: 2rem;
  text-align: center;
}
.user-image-div img {
  position: absolute;
  left: 0;
  top: 0;
  height: 2.0rem;
  width: 2.0rem;
}

/* Slider - Task comments*/
#task-comments-container {
  height: calc(100% - 120px);
}
#task-comments-container .scrollbar {
  float: left;
  margin-left: 6px;
}

.task-comments {
  float: left;
  width: calc(100% - 9px);
  overflow: hidden;
}
.task-comments .comment {
}
.comment div.icon {
  display: block;
  float: left;
  width: 35px;
}
.comment .icon img {
  height: 35px;
  width: 35px;
}
.comment div.content {
  float: right;
  width: calc(100% - 45px);
}
.comment span.name {
  font-size: 9px;
  float: left;
  color: #898989;
  text-transform: uppercase;
}
.comment span.time {
  font-size: 9px;
  float: right;
  color: #898989;
}
.comment p {
  font-size: 13px;
  margin-bottom: 10px;
  padding: 2px;
}
#task-comment {
  padding-top: 15px;
  height: 120px;
}
#task-comment textarea {
  width: 100%;
  height: calc(100px - 2.1rem);
  margin-bottom: 5px;
}
#task-comment .form-buttons {
  display: inline-block;
  float: right;
}

/* Timesheet */
#new-activity {
  width: 150px;
  top: 100px;
  left: 80px;
  padding-top: 4px;
  padding-right: 4px;
}
.activity {
  padding: 5px 15px;
  font-size: 13px;
  min-height: 50px;
  position: relative;
}
.activity .icon {
  display: block;
  float: left;
  width: 50px;
  height: 100%;
}
.activity .icon img {
  height: 50px;
  width: 50px;
}
.activity div.content {
  float: right;
  width: calc(100% - 50px);
  padding-left: 5px;
  height: 100%
}
.activity span {
  font-size: 11px;
}
.activity span:not(:first-child) {
  margin-left: 5px;
}
.activity .name {
  float: left;
  text-transform: uppercase;
}
.activity .task {
  float: right;
}
.activity .interval {
  float: right;
  font-weight: bold;
}
.activity .date {
  float: right;
  color: #898989;
}
.activity p {
  font-size: 14px;
  margin-bottom: 10px;
}
.activity .actions {
  visibility: hidden;
  position: absolute;
  margin: 0;
  top: 0;
  min-height: 50px;
  width: 40px;
  right: -32px;
}
.activity:hover .actions, .activity .actions:hover {
  visibility: visible;
}
.activity .actions > * {
  display: block;
  line-height: 21px;
  width: 100%;
}
.activity .actions a {
  display: inline-block;
  width: 21px;
  color: unset;
  font-size: 16px;
  padding-left: 5px;
}
.activity .actions i {
  display: inline-block;
  width: 100%;
}
.activity .actions a:hover {
  color: #008CBA;
}
/* Timesheet and Feed*/
.vertical-feed {
  padding: 0;
  height: inherit;
}
.vertical-feed-wrapper {
  height: 100%;
}
.vertical-feed-wrapper ~ .scrollbar {
  height: 100%;
  width: 3px;
  background: #ccc;
}
.vertical-feed-wrapper ~ .scrollbar .handle {
  height: 25px;
  width: 100%;
  background: #292a33;
  cursor: pointer;
}
.vertical-feed-wrapper ~ .scrollbar .handle .mousearea {
  position: absolute;
  top: 0;
  left: -10px;
  width: 22px;
  height: 100%;
}

/* Feed */
.feed {
  padding: 1px 15px;
  font-size: 13px;
  min-height: 32px;
  position: relative;
}
.feed .icon {
  display: block;
  float: left;
  width: 32px;
}
.feed .icon img {
  height: 32px;
  width: 32px;
}
.feed i {
  font-size: 32px;
  line-height: 32px;
  color: #444;
}
.feed p {
  font-size: 13px;
}
.feed div.content {
  float: right;
  width: calc(100% - 32px);
  padding-left: 5px;
}
.feed .date {
  float: right;
}
.feed span {
  font-size: 11px;
}
.feed span:not {
  margin-left: 5px;
}